@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap'); 

html, body,
     {
    font-family: 'Jaro', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #cc2a2a;
}


div[data-testid="stMarkdownContainer"] {
    font-family: 'Jaro', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #11ca8c;
}
